-content_for :title, I18n.t('acknowledgments.acknowledgments_title')

-content_for :scripts do
  %script{src: "//crowdin.com/js/crowdjet/crowdjet.js"}
  :javascript
    $(function() {
      var checkExist = setInterval(function() {
        if ($('#crowdjet-expand-container').children().length > 0) {
          $('#crowdjet-container').css("position", "relative");
          $('#crowdjet-expand-container').css("position", "absolute");
          $('#crowdin-widget').show();
          clearInterval(checkExist);
        }
      }, 1000);
    });

-content_for :jumbotron do
  %div{class:"jumbotron jumbotron-fluid d-flex flex-wrap"}
    %div{class:"mr-auto p-2"}
      %h1{class:"h2"}= I18n.t('acknowledgments.acknowledgments_title')

%div{class:"row mt-4"}
  %div{class:"col-12 col-md-6 mb-3"}
    %div{class:"card"}
      %div{class:"card-header border-bottom"}
        %h4= I18n.t('acknowledgments.taxon_silhouettes')
      %div{class:"card-body mt-3"}
        %p
          Silhouette images of taxonomic Families originate from the amazing
          %a{href: "http://phylopic.org/"} PhyloPic
          developed and maintained by Mike Keesey.
        %div{class:"text-center"}
          %a{href: "http://phylopic.org/image/cb9f4a84-068b-4ac4-b0ca-1b6da752817a/"}
            %img{src:"/images/a79e6610-2a32-4797-8281-02e8640f3b57.128.png", alt:"PhyloPic Silhouette", class:"p-2"}
          %a{href: "http://phylopic.org/image/ef34e872-7ba3-4836-bbd3-844351d895c2/"}
            %img{src:"/images/ef34e872-7ba3-4836-bbd3-844351d895c2.128.png", alt:"PhyloPic Silhouette", class:"p-2"}
          %a{href: "http://phylopic.org/image/7ebbf05d-2084-4204-ad4c-2c0d6cbcdde1/"}
            %img{src:"/images/7ebbf05d-2084-4204-ad4c-2c0d6cbcdde1.128.png", alt:"PhyloPic Silhouette", class:"p-2"}
          %a{href: "http://phylopic.org/image/7e3829c6-6587-4df7-a514-29e3f8f2c40d/"}
            %img{src:"/images/7e3829c6-6587-4df7-a514-29e3f8f2c40d.128.png", alt:"Phylopic Silhouette", class:"p-2"}

  %div{class: "col-12 col-md-6 mb-3"}
    %div{class:"card"}
      %div{class:"card-header border-bottom"}
        %h4= I18n.t('acknowledgments.translations')
      %div{class:"card-body mt-3"}
        %p
          Special thanks to
          %a{href: url('/0000-0002-0851-6883')} Jennifer C. Girón Duque
          %a{href:"https://orcid.org/0000-0002-0851-6883"}
            %i{class:"fab fa-orcid"}
            https://orcid.org/0000-0002-0851-6883
          who translated the interface and content into Spanish,
          %a{href: url('/0000-0003-4401-5530')} Marianna Simões
          %a{href:"https://orcid.org/0000-0003-4401-5530"}
            %i{class:"fab fa-orcid"}
            https://orcid.org/0000-0003-4401-5530
          who translated the interface into Portuguese, and
          %a{href: "https://crowdin.com/profile/patmat99"} Patrick Mates
          into German through Crowdin.
        %p
          %div{class:"d-block mb-3"}
            %a{title: "Crowdin",target: "_blank", href: "https://crowdin.com/project/bionomia"}
              %img{src: "https://badges.crowdin.net/bionomia/localized.svg"}
          Want to help translate into other languages? Visit
          %a{href: "https://translate.bionomia.net"}
            https://translate.bionomia.net
          or click the Crowdin widget below.
        %div{id:"crowdin-widget", style:"position:relative;min-height:5em;padding-bottom:80px;display:none;"}
          %div{id: "crowdjet-container", "data-project-id": 462580, style:"position:absolute;top:80px;left:0px;"}
          %div{id: "crowdjet-expand-container", style:"position:absolute;top:0px;left:0px;"}
