%div{class: "alert alert-warning"}
  %i{class:"fas fa-lock"}
  = I18n.t('user.private')
  - if @stats
    %div{class:"mt-2"}
      %ul{class:"list-unstyled"}
        = haml :'partials/user_stats', layout: false
