%nav#specimen-nav.navbar.navbar-light.navbar-expand.bg-light.overflow-auto
  %ul.navbar-nav
    %li.nav-item
      %a{class:"nav-link#{locals[:active_tab] == "specimens" ? " active" : nil}", href: url("/#{@viewed_user.identifier}/specimens")}= I18n.t('user.specimens')
    %li.nav-item
      %a{class:"nav-link#{locals[:active_tab] == "support" ? " active" : nil}", href: url("/#{@viewed_user.identifier}/support")}= I18n.t('user.helped_by')
