- content_for :title do
  Statistics
- content_for :scripts do
  :javascript
    $(function() {
      Application.init();
    });
- content_for :jumbotron do
  .jumbotron.jumbotron-fluid.alert-warning.d-flex.flex-wrap
    .mr-auto
      %h1.h2 Statistics

%h4 Active Database Connections

%ul.list-group.mt-3
  - ActiveRecord::Base.connection_pool.stat.each do |k,v|
    %li.list-group-item.d-flex.justify-content-between.align-items-center
      #{k}
      %span.badge.badge-success.badge-pill #{v}
