- content_for :title do
  Administration
- content_for :scripts do
  :javascript
    $(function() {
      Application.init();
    });
- content_for :jumbotron do
  .jumbotron.jumbotron-fluid.alert-warning
    %h1.h2 Administration

.citation-wrapper.ml-0

  .card-deck
    .card.card-profile
      %h5.card-header
        %a{href: url("/admin/users")} All People
      .card-body
        %p.card-text View and search through a paginated and ordered list of people. This includes when last logged in, public status, and links to manage their settings.
    .card.card-profile
      %h5.card-header
        %a{href: url("/admin/organizations")} Organizations
      .card-body
        %p.card-text View a paginated and ordered list of organizations from ORCID accounts. This includes their ISNI, RoR, ringgold, GRID, and wikidata identifiers.

  .card-deck
    .card.card-profile
      %h5.card-header
        %a{href: url("/admin/articles")} Articles
      .card-body
        %p.card-text View a paginated and ordered list of latest references indexed by GBIF. This includes the number of specimens used in the study, the number claimed or attributed, and a list of claimants.
    .card.card-profile
      %h5.card-header
        %a{href: url("/admin/datasets")} Datasets
      .card-body
        %p.card-text View a paginated and ordered list of datasets and adjust their metadata.

  .card-deck
    .card.card-profile
      %h5.card-header
        %a{href: url("/admin/taxa")} Taxa
      .card-body
        %p.card-text View a list of all the taxa (Families) and update the PhyloPic silhouettes.
    .card.card-profile
      %h5.card-header
        %a{href: url("/admin/stats")} Statistics
      .card-body
        %p.card-text View reports on server performance.

  .card-deck
    .card.card-profile
      %h5.card-header
        %a{href: url("/admin/sidekiq")} Sidekiq Queues
      .card-body
        %p.card-text View all the running background jobs.
    .card

