%ul{class: "nav nav-tabs"}
  %li{class: "nav-item"}
    %a{class: "nav-link#{locals[:active_tab] == "people" ? " active" : nil}", href: "/article/#{@article.doi}"}= I18n.t('article.people')
  %li{class: "nav-item"}
    %a{class: "nav-link#{locals[:active_tab] == "agents" ? " active" : nil}", href: "/article/#{@article.doi}/agents"}= I18n.t('article.agent_strings')
