- content_for :title, I18n.t('profile.unsubscribe_title')
- content_for :scripts do
  :javascript
    $(function() {
      Application.init();
    });

%h1= I18n.t('profile.unsubscribe_title')

%p= I18n.t('profile.unsubscribe', email: @viewed_user.email)