%nav{id:"network-nav", class:"navbar navbar-light navbar-expand bg-light overflow-auto"}
  %ul{class:"navbar-nav"}
    %li{class:"nav-item"}
      %a{class:"nav-link#{locals[:active_tab] == "orcid" ? " active" : nil}", href: url("/help-others/new-people")} ORCID
    %li{class:"nav-item"}
      %a{class:"nav-link#{locals[:active_tab] == "wikidata" ? " active" : nil}", href: url("/help-others/new-people/wikidata")} Wikidata
