%nav#network-nav.navbar.navbar-light.navbar-expand.bg-light.overflow-auto
  %ul.navbar-nav
    %li.nav-item
      %a{class:"text-nowrap nav-link#{locals[:active_tab] == "orcid" ? " active" : nil}", href: url("/help-others/progress")} ORCID
    %li.nav-item
      %a{class:"text-nowrap nav-link#{locals[:active_tab] == "wikidata" ? " active" : nil}", href: url("/help-others/progress/wikidata")} Wikidata
