.p-2
  %form#form-helper-wrapper.form-inline.helpers{method: :get, action: "/help-others", "accept-charset": "UTF-8"}
    .form-group.w-75
      - username = @viewed_user ? @viewed_user.fullname : "Mary Smith"
      %input#typeahead-user.typeahead.help-search{type: :text, name: "q", placeholder: "#{username}", value: "#{h(params[:q])}", size:"25", autocomplete:"off"}
    %input.btn.btn-success.medium-margins{type: :submit, value:"#{I18n.t('general.search')}"}

%script#result-template{type:"text/x-handlebars-template"}
  .d-flex
    %div
      %img.rounded{src:"{{thumbnail}}"}
    .ml-2.flex-grow-1.small
      %h5.m-0.p-0 {{fullname_reverse}}
      .m-0.p-0.small.muted{style:"line-height:1.2rem"} {{{lifespan}}}
      .m-0.p-0.small{style:"line-height:1.2rem"} {{{description}}}

%script#empty-template{type:"text/x-handlebars-template"}
  .m-2.tt-no-result= I18n.t('general.search_dropdown_no_users')
