- if @filter.length > 0
  .alert.alert-warning{role: "alert"}
    %i.fa-solid.fa-filter
    = I18n.t('general.filtered_by')
    %span.font-weight-bold.mr-2
      = h(filter_options.compact.join(", "))
    %a{href: url(locals[:url]), class:"text-danger"}
      %i.fa-solid.fa-minus-circle
      = I18n.t('general.remove')
