- if @filter.length > 0
  .alert.alert-warning{role: "alert"}
    %i.fas.fa-filter
    #{I18n.t('general.filtered_by')}
    %span.font-weight-bold.mr-2
      #{h([@filter[:action], @filter[:country], @filter[:range], @filter[:family], @filter[:kingdom], @filter[:institutionCode], @filter[:attributor], @filter[:dataset]].compact.join(", "))}
    %a{href: url(locals[:url]), class:"text-danger"}
      %i.fas.fa-minus-circle
      #{I18n.t('general.remove')}
