%h4= I18n.t('user.collected_from')
%ul{class: "nav nav-pills custom-pills mt-3", role:"tablist"}
  %li{class: "nav-item"}
    %a{class: "nav-link active", "data-toggle":"tab", href: "#map-collected"}= I18n.t('user.map')
  %li{class: "nav-item"}
    %a{class: "nav-link", "data-toggle":"tab", href: "#list-collected"}= I18n.t('user.list')
