.container.mt-4
  .row.border.p-4
    .col-12.col-md-4
      %a{href: "https://www.eventbrite.ca/e/roundtripping-people-identifiers-in-collections-management-systems-tickets-733839462587?utm-campaign=social&utm-content=attendeeshare&utm-medium=discovery&utm-term=listing&utm-source=cp&aff=ebdsshcopyurl"}
        %img.img-fluid.mr-3{src:"/images/roundtrip.png", alt: "Data round trip"}
    .col-12.col-md-8
      %h3 Upcoming Online Workshop
      %p Put the disambiguation of people's names into practice with a particular focus on collections management systems. The purpose is for you to share how you or your colleagues do this (or intend to do this) in the software you use at your respective institutions through incorporation of logic, scripts, and/or persistent and unique identifiers. Expert speakers and domain specialists will present and demonstrate how they do this to help guide attendees through the process. We will also demonstrate how the Frictionless Data Packages available on Bionomia might facilitate this workflow.
      %ul
        %li December 06, 2023
        %li 08:00–12:00 EST / 14:00–18:00 CET / 13:00–17:00 UTC
      %p Limited spots. Reserve your place today.
      %a.btn.btn-lg.btn-primary{ href:"https://www.eventbrite.ca/e/roundtripping-people-identifiers-in-collections-management-systems-tickets-733839462587?utm-campaign=social&utm-content=attendeeshare&utm-medium=discovery&utm-term=listing&utm-source=cp&aff=ebdsshcopyurl"}= "Tickets"