.container
  .row.border.p-4.mt-3
    .col-12.col-md-4
      %a{href: "https://www.eventbrite.ca/e/roundtripping-people-identifiers-in-collections-management-systems-tickets-733839462587?utm-campaign=social&utm-content=attendeeshare&utm-medium=discovery&utm-term=listing&utm-source=cp&aff=ebdsshcopyurl"}
        %img.img-fluid.mr-3.mb-3{src:"/images/roundtrip.png", alt: "Data round trip"}
    .col-12.col-md-8
      %h3 Upcoming Online Workshop
      %p Put the disambiguation of people's names into practice with a particular focus on natural history collections management systems. The purpose of this remote workshop is for you to learn how to do this in the software you use at your  institution through incorporation of ideas, logic, scripts, and persistent and unique identifiers from wikidata and ORCID. In so doing, you can take advantage of the time and effort Bionomia scribes have put into disambiguating and linking collectors/determiners to the specimen records you shared with the Global Biodiversity Information Facility. Expert speakers and domain specialists will guide you through their workflow and will offer helpful tips and tricks. A link to the agenda and Zoom meeting will soon be shared.
      %ul
        %li Wednesday, December 06, 2023
        %li 08:00–12:00 EST / 14:00–18:00 CET / 13:00–17:00 UTC
      %p Limited spots. Reserve your free ticket today.
      %a.btn.btn-lg.btn-primary{ href:"https://www.eventbrite.ca/e/roundtripping-people-identifiers-in-collections-management-systems-tickets-733839462587?utm-campaign=social&utm-content=attendeeshare&utm-medium=discovery&utm-term=listing&utm-source=cp&aff=ebdsshcopyurl"}= "Tickets"