.alert.alert-info.tiny-margins{role: "alert"}
  = I18n.t('general.download_alert', num_records: number_with_delimiter(Settings.helping_download_limit))
.row
  .col-sm-12.col-lg-10.col-xl-8
    %img.rounded.img-fluid{src: "/images/candidates-instructions.png", alt: "Instructions for offline claims"}
