- content_for :title, "Nutzungsbedingungen"
- content_for :jumbotron do
  .jumbotron.jumbotron-fluid.d-flex.flex-wrap
    .mr-auto.p-2
      %h1.h2
        Nutzungsbedingungen

%h3
  Kontobedingungen

%p
  Wir haben ein paar einfache Richtlinien für Benutzerkonten auf Bionomia.

%ul
  %li Sie müssen ein Mensch sein, um ein Konto über die Passthrough-Authentifizierung von ORCID zu erstellen. Konten, die durch sogenannte Bots oder andere automatische Methoden registriert werden, sind nicht zulässig.
  %li Eine Person darf nicht mehr als ein kostenloses Konto unterhalten.
  %li Sie müssen 13 Jahre oder älter sein. Bionomia richtet sich mit seinem Service nicht an Kinder unter 13 Jahren, und wir erlauben keine Nutzer unter 13 Jahren. Wenn wir von einem Benutzer unter 13 Jahren erfahren, werden wir das Benutzerkonto dieses Benutzers sofort auflösen. Wenn Sie Ihren Wohnsitz in einem Land außerhalb der Vereinigten Staaten haben, kann das Mindestalter in Ihrem Land höher sein; in einem solchen Fall sind Sie für die Einhaltung der Gesetze Ihres Landes verantwortlich.
  %li Ihr Login darf nur von einer Person verwendet werden – das heißt, ein einzelner Zugang über ORCID darf nicht von mehreren Personen genutzt werden.
  %li Sie sind für alle Aktivitäten verantwortlich, die unter Ihrem Konto stattfinden.
  %li Sie sind dafür verantwortlich, die Sicherheit Ihres Kontos und Ihres Passworts über ORCID zu gewährleisten.
  %li
    Sie müssen Bionomia unverzüglich über
    = link_to "bionomia.tracker@gmail.com", "mailto:bionomia.tracker@gmail.com"
    benachrichtigen, wenn Sie von einer unbefugten Nutzung oder einem unbefugten Zugang zu unserem Service über Ihr Konto Kenntnis erlangen, einschließlich einer unbefugten Nutzung Ihres Passworts oder Kontos.

%h3
  Zulässige Verwendung

%p
  Ihre Nutzung von Bionomia darf nicht gegen geltende Gesetze verstoßen, insbesondere Urheberrechts- oder Markengesetze, Exportkontroll- oder Sanktionsgesetze oder andere Gesetze in Ihrer Gerichtsbarkeit. Sie sind dafür verantwortlich, dass Ihre Nutzung von Bionomia in Übereinstimmung mit den Gesetzen und allen anwendbaren Vorschriften erfolgt.

%h3
  API-Bedingungen

%p
  Missbräuchliche oder übermäßig häufige Anfragen an Bionomia über die API können zur vorübergehenden oder dauerhaften Sperrung Ihres Kontos führen. Bionomia entscheidet nach eigenem Ermessen über missbräuchliche oder übermäßige Nutzung der API.

%h3
  Löschung und Beendigung

%p
  Es liegt in Ihrer Verantwortung, Ihr Konto bei Bionomia ordnungsgemäß zu löschen. Sie können Ihr Konto jederzeit löschen, indem Sie Ihre Einstellungen aufrufen. Auf der Kontoseite finden Sie einen einfachen Link zur Löschung, bei dem Sie keine Fragen beantworten müssen. Wir können Konten nicht als Antwort auf E-Mails löschen.
  Bei einer Löschung werden Ihr vollständiges Profil und alle vorgenommenen Zuordnungen entfernt. Diese Informationen können nicht wiederhergestellt werden, sobald Ihr Konto gelöscht ist.
  Bionomia ist berechtigt, Ihren Zugang zur gesamten Website oder zu Teilen davon – mit oder ohne Grund, mit oder ohne Vorankündigung – jederzeit und mit sofortiger Wirkung auszusetzen oder zu beenden.
  Bionomia behält sich das Recht vor, jederzeit und ohne Angabe von Gründen den Service zu verweigern.

%h3
  Kontakt zu Bionomia

%p
  Fragen zu diesen Nutzungsbedingungen richten Sie bitte an
  = succeed "." do
    = link_to "bionomia.tracker@gmail.com", "mailto:bionomia.tracker@gmail.com"
