- content_for :title, I18n.t('denied.title')
- content_for :scripts do
  :javascript
    $(function() {
      Application.init();
    });

%h1= I18n.t('denied.title')

%p= I18n.t('denied.not_allowed')