- content_for :title, I18n.t('donor_wall.donor_wall_title')
- content_for :jumbotron do
  .jumbotron.jumbotron-fluid.d-flex.flex-wrap
    .mr-auto.p-2
      %h1.h2
        = I18n.t('donor_wall.donor_wall_title')

%ul.nav.nav-tabs.pl-2
  %li.nav-item
    %a{class: "nav-link#{locals[:active_page] == "donate" ? " active" : nil}", href: "/donate"}= I18n.t('donate.campaign')
  %li.nav-item
    %a{class: "nav-link#{locals[:active_page] == "wall" ? " active" : nil}", href: "/donate/wall"}= I18n.t('donate.donor_wall')

%p.mt-3
  = I18n.t('donor_wall.lede')

.d-flex.justify-content-center
  .flex-fill
    %script{src:"https://donorbox.org/widget.js", paypalExpress:"false"}
    %iframe{src:"https://donorbox.org/embed/back-to-roots?only_donor_wall=true", frameborder:"0", name:"donorbox", scrolling:"no", seamless:"seamless", style:"width: 100%; max-width:500px; min-width:310px; max-height: none !important"}
