-content_for :title do
  = I18n.t('help_docs.title')

-content_for :jumbotron do
  %div{class:"jumbotron jumbotron-fluid d-flex flex-wrap"}
    %div{class:"mr-auto p-2"}
      %h1{class:"h2"}= I18n.t('help_docs.title')

%h3{class:"mt-4 mb-3"} For New Users & Group Settings

%div{class:"card", style:"max-width: 505px;"}
  %a{href: "http://doi.org/10.5281/zenodo.3908726"}
    %img{src:"/images/leachman_auckland_wmm.png", alt:"Leachman help doc for volunteers", width:"500px"}
  %div{class:"card-body"}
    %p{class:"citation"}
      Siobhan Leachman. (2020, June 26). Auckland Museum Volunteer Instructions for Bionomia. Zenodo. 26pp. PDF
      %a{href: "http://doi.org/10.5281/zenodo.3908726"}
        http://doi.org/10.5281/zenodo.3908726

%h3{class:"mt-4 mb-3"} Focused Tasks

%p{class:"mt-4"}
  Scribe
  %a{href: "/0000-0002-5398-7721"} Siobhan Leachman
  (see her
  = succeed ")" do
    %a{href:"https://twitter.com/SiobhanLeachman"} Twitter feed
  also produced a helpful series of step-by-step documents. These are presently being reworked to match the recent rebranding of the site.

%div{class:"row mt-4"}
  %div{class:"col mb-3"}
    %div{class:"card"}
      %div{class:"card-header border-bottom"}
        %h4 Getting Started with ORCID & Claiming Specimen Records
      %div{class:"card-body mt-3"}
        Coming soon...
        //%iframe{type:"text/html", width:"100%", height:"600", frameborder:"0", align:"left", style:"align:left;max-width:100%;margin-top:20px;border:none;overflow-y: auto;", src:"https://threadreaderapp.com/embed/1257010391600660481.html"}
  %div{class:"col mb-3"}
    %div{class:"card"}
      %div{class:"card-header border-bottom"}
        %h4 Helping Others
      %div{class:"card-body mt-3"}
        Coming soon...
        //%iframe{type:"text/html", width:"100%", height:"600", frameborder:"0", align:"left", style:"align:left;max-width:100%;margin-top:20px;border:none;overflow-y: auto;", src:"https://threadreaderapp.com/embed/1257020903163981824.html"}
%div{class:"row mt-4"}
  %div{class:"col mb-3"}
    %div{class:"card"}
      %div{class:"card-header border-bottom"}
        %h4 Creating a Wikidata Item
      %div{class:"card-body mt-3"}
        Coming soon...
        //%iframe{type:"text/html", width:"100%", height:"600", frameborder:"0", align:"left", style:"align:left;max-width:100%;margin-top:20px;border:none;overflow-y: auto;", src:"https://threadreaderapp.com/embed/1257053327809888256.html"}
  %div{class:"col mb-3"}
    %div{class:"card"}
      %div{class:"card-header border-bottom"}
        %h4 Uploads to Attribute Records in Bulk
      %div{class:"card-body mt-3"}
        Coming soon...
        //%iframe{type:"text/html", width:"100%", height:"600", frameborder:"0", align:"left", style:"align:left;max-width:100%;margin-top:20px;border:none;overflow-y: auto;", src:"https://threadreaderapp.com/embed/1258487417876688901.html"}
