-content_for :title do
  = I18n.t('help_docs.title')

-content_for :jumbotron do
  %div{class:"jumbotron jumbotron-fluid d-flex flex-wrap"}
    %div{class:"mr-auto p-2"}
      %h1{class:"h2"}= I18n.t('help_docs.title')

%h3{class:"mt-4 mb-3"} For New Users & Groups

%div{class:"card", style:"max-width: 505px;"}
  %a{href: "http://doi.org/10.5281/zenodo.3908726"}
    %img{src:"/images/leachman_auckland_wmm.png", alt:"Leachman help doc for volunteers", class:"img-fluid mx-auto d-block"}
  %div{class:"card-body"}
    %p{class:"citation"}
      Siobhan Leachman. (2020, June 26). Auckland Museum Volunteer Instructions for Bionomia. Zenodo. 26pp. PDF
      %a{href: "http://doi.org/10.5281/zenodo.3908726"}
        http://doi.org/10.5281/zenodo.3908726

%h3{class:"mt-4 mb-3"} Focused Tasks

%p{class:"mt-4"}
  Scribe
  %a{href: "/0000-0002-5398-7721"} Siobhan Leachman
  (see her
  = succeed ")" do
    %a{href:"https://twitter.com/SiobhanLeachman"} Twitter feed
  also produced a helpful series of step-by-step tweet threads. These are reworked as focused tasks below.

%div{class:"row mt-4"}
  %div{class:"col mb-3"}
    %div{class:"card"}
      %div{class:"card-header border-bottom"}
        %h4 Getting Started with ORCID & Claiming Specimen Records
      %div{class:"card-body overflow-auto mt-3", style:"max-height: 300px; min-height: 300px;"}
        %p
          First, you need to get an ORCID identifier. This is because you'll be creating and adding data to the site. So, if you do not have an ORCID, got to
          %a{href: "https://orcid.org/register"} https://orcid.org/register
          and get one. Please make some information you put into ORCID public such as your employer or add one of your publications. This ensures that someone will know who you are.
          See the
          %a{href: "/get-started"} Get Started
          page to learn what public details Bionomia draws-in from your ORCID account.
        %p
          Then, login to Bionomia using your ORCID account.
          %img{src:"/images/login.png", at: "Login button", class:"d-block mt-3 mb-3"}

          You will first be taken to the Overview page in your profile.
          If you have collected specimens whose metadata has been loaded into GBIF, you can go to the
          %em Specimens
          tab to claim them.
          %img{src:"/images/profile-tabs.png", alt: "profile tabs", class:"d-block mt-3 mb-3"}
        %p
          This will link your specimens to your ORCID identifier, enriching the data and helping to ensure you get credit for your work at collecting or identifying specimens.
          Claim your specimens by pressing the
          %em net
          button for those you have collected, the
          %em microscope
          button for those you have identified, or the
          %em Both
          button where you have done both.
          If you did not collect or identify a candidate record that Bionomia found, click the
          %em Not me
          button.
        %p{class:"mt-3 mb-3"}
          %img{src:"/images/button-selectors.png", alt: "Specimen claiming buttons"}
          %img{src:"/images/not-me.png", alt: "Not me buttons"}

        %p
          Don't panic if you make an error! You can rectify it.
          Go to the
          %em Claimed
          subtab to adjust the records you indicated as identified, collected or both.
          Go to the
          %em Ignored
          subtab to reclaim the records you indicated as "Not me".

        %p
          Once you have claimed your specimen records, press the
          %em Science Enabled
          tab.
          This will show you what papers have used your specimen records in their analyses. This relies on the authors of those papers crediting and citing the download DOI of the GBIF dataset they used.

        %p
          Visit
          %em Setting & Integrations
          to make your Bionomia profile publicly available.
          %img{src:"/images/settings-integrations.png", alt:"Settings & Integrations", class:"mt-3 mb-3"}
          %img{src:"/images/make-public.png", alt:"Make profile public", class:"mt-3 mb-3"}

  %div{class:"col mb-3"}
    %div{class:"card"}
      %div{class:"card-header border-bottom"}
        %h4 Helping Others
      %div{class:"card-body overflow-auto mt-3", style:"max-height: 300px; min-height: 300px;"}
        %p
          So I'm going to start by choosing someone to help. I've logged into Bionomia with my ORCID id & I've pressed
          %em Help Others
          button on the top right. I'm now going to pick a country. Yep, New Zealand! I'm going to pick the entomologist George Howes.
        %p{class:"mt-3 mb-3"}
          %img{src:"/images/help-others-link.png", alt:"Help Others button"}
          %img{src:"/images/countries-help.png", alt:"Countries helping list"}
          %img{src:"/images/help-new-zealand.png", alt:"Help New Zealand"}
          %img{src:"/images/george-howes.png", alt:"George Howes"}
        %p
          The reason I've chosen him is that I started his
          = succeed "." do
            %a{href: "https://en.wikipedia.org/wiki/George_Howes_(entomologist)"} Wikipedia article
          I think he was marvellous and should get credit for his collecting work. His Bionomia page looks like this.
          %img{src:"/images/helping-george-howes.png", alt:"George Howes", class:"d-block mt-3 mb-3"}
          The first specimen was collected by someone with his initials, at the correct dates, is held in a New Zealand collection.
          I'm confident he collected it. So, I press the
          %em net
          button beside the specimen.
          %img{src:"/images/fenwicki-net.png", alt:"Selecting P. fenwicki", class:"d-block mt-3 mb-3"}
          If I was confident he had collected ALL 25 specimens in this view, I could have pressed the white
          %em net
          with black background. That would automatically attribute to him in bulk all these 25 specimen records (but no more).
          I can even increase the number of specimens on the page up to 250 (bottom-left dropdown) and bulk assign all of them!
        %p{class:"mt-3 mb-3"}
          %img{src:"/images/bulk-assignment.png", alt:"Bulk assignment buttons"}
          %img{src:"/images/per-page-dropdown.png", alt:"Per page dropdown"}
        %p
          But in this case some way down the set there are specimens collected by "G Howes" in NHMUK.
          I'm unsure whether this is OUR George Howes. If I'm unsure it is him or not I'll have to leave the specimens.
          %img{src:"/images/helping-unsure.png", alt:"Helping unsure", class:"d-block mt-3 mb-3"}
          To try and work out whether it is George I'll click on the scientific name on the specimen.
          This opens a new tab & takes me to its details in GBIF. Here I can see it's a specimen from the Leith Valley in Dunedin, collected in 1922 by G. Howes.
          %img{src:"/images/helping-gbif.png", alt:"Helping GBIF", class:"d-block mt-3 mb-3"}
          Yep it's our George! So I'll claim those specimens for him.

        %p
          BUT you still have to be very careful. I keep an eye on dates. On the next page I see a page that isn't 1921 or 1922.
          There's a specimen collected in 1937 - still while our George was alive. But again dates - so I click to check.
          That specimen WASN'T collected by George. It was collected in Bolivia.
          %img{src:"/images/parvispina-dates.png", alt:"parvispina 1937", class:"d-block mt-3 mb-1"}
          %img{src:"/images/parvispina-gbif.png", alt:"parvispina 1937", class:"d-block mb-3"}
        %p
          Further down I see specimens coming from FishBase, but George was an entomologist. I confirm that he didn't collect those specimens either. So I claim the specimens he did collect and press the
          %em Not them
          button for the one's he didn't collect or identify.
          %img{src:"/images/fishbase-not-them.png", alt:"parvispina 1937", class:"d-block mt-3 mb-3"}




%div{class:"row mt-4"}
  %div{class:"col mb-3"}
    %div{class:"card"}
      %div{class:"card-header border-bottom"}
        %h4 Creating a Wikidata Item
      %div{class:"card-body overflow-auto mt-3", style:"max-height: 300px; min-height: 300px;"}
        Coming soon...
        //%iframe{type:"text/html", width:"100%", height:"600", frameborder:"0", align:"left", style:"align:left;max-width:100%;margin-top:20px;border:none;overflow-y: auto;", src:"https://threadreaderapp.com/embed/1257053327809888256.html"}
  %div{class:"col mb-3"}
    %div{class:"card"}
      %div{class:"card-header border-bottom"}
        %h4 Uploads to Attribute Records in Bulk
      %div{class:"card-body overflow-auto mt-3", style:"max-height: 300px; min-height: 300px;"}
        Coming soon...
        //%iframe{type:"text/html", width:"100%", height:"600", frameborder:"0", align:"left", style:"align:left;max-width:100%;margin-top:20px;border:none;overflow-y: auto;", src:"https://threadreaderapp.com/embed/1258487417876688901.html"}
