- content_for :title, "History"
- content_for :jumbotron do
%div
  {class:"jumbotron jumbotron-fluid d-flex flex-wrap"}
  %div
    {class:"mr-auto p-2"}
    %h1
      {class:"h2"} Historia
%div
  {class:"row mt-4"}
  %div
    {class:"col-12 col-xl-6 mb-3"}
    %div
      {class:"card"}
      %div
        {class:"card-header border-bottom"}
        %h4
          Un cambio de marca
      %div
        {class:"card-body mt-3"}
        %p
          Junio 15, 2020
        %p
          Amigos,
        %p
          Debo cambiar el nombre de Bloodhound Tracker incluyendo un nuevo nombre de dominio. Me encontr&#xE9; con un documento en junio de 2020 y les pido que se tomen una hora o m&#xE1;s para leerlo:
        %p
          Parry, T.D., and C.W. Yingling. 2020. Slave Hounds and Abolition in the Americas.
          %em
            Past  Present
          246: 69&#x2013;108.
          %a
            {href:"https://doi.org/10.1093/pastj/gtz020"} https://doi.org/10.1093/pastj/gtz020
        %p
          {class:"clearfix"}
          %img/
          {src:"/images/bloodhound_logo.png", alt:"Bloodhound Tracker", class:"float-left mr-3"}
          Estoy horrorizado por los eventos en ese art&#xED;culo y me averg&#xFC;enzo de mi ingenuidad. Bloodhound como marca y su logo son imperdonables. Los museos de historia natural del mundo han
          %a
            {href:"https://www.nhm.ac.uk/discover/news/2019/july/are-natural-history-museums-inherently-racist.html"} reconocido su papel
          en el colonialismo y la trata transatl&#xE1;ntica de esclavos. Rechazo cualquier encubrimiento de este pasado. Todas las personas negras, ind&#xED;genas y de color deben sentirse c&#xF3;modas y empoderadas para estar aqu&#xED;, participar, aprender y liderar.
        %p
          Todos los enlaces de Bloodhound Tracker redirigen a Bionomia. El 1 de diciembre de 2020, el sitio Bloodhound Tracker se eliminar&#xE1; por completo, lo que deber&#xED;a proporcionar tiempo suficiente para que los &#xED;ndices de b&#xFA;squeda y los sitios actualicen los enlaces y utilicen el nuevo logo.
        %p
          David P. Shorthouse
