- content_for :title, "How it Works"
- content_for :jumbotron do
%div
  {class:"jumbotron jumbotron-fluid d-flex flex-wrap"}
  %div
    {class:"mr-auto p-2"}
    %h1
      {class:"h2"} Como funciona
%p
  Bionom&#xED;a es desarrollada y mantenida por
  %a
    {href:"https://orcid.org/0000-0001-7618-5230"}
    %i
      {class:"fab fa-orcid"}
    David P. Shorthouse
  utilizando datos de espec&#xED;menes descargados peri&#xF3;dicamente de la
  %a
    {href: "https://gbif.org"} Global Biodiversity Information Facility
  (GBIF) y autenticaci&#xF3;n proporcionada por
  = succeed "." do
  %a
    {href: "https://orcid.org" } ORCID
  Fue lanzada en agosto de 2018 como una postulaci&#xF3;n al
  = succeed "." do
  %a
    {href: "https://www.gbif.org/news/1GQURfK5jS4Iq4O06Y0EK4/2018-gbif-ebbe-nielsen-challenge-seeks-open-data-innovations-for-biodiversity"} Ebbe Nielsen Challenge
  Desde entonces, se han integrado identificadores de
  %a
    {href: "https://www.wikidata.org"} Wikidata
  para capturar los nombres y las fechas de nacimiento y de muerte de bi&#xF3;logos fallecidos para ayudar a maximizar la integraci&#xF3;n de datos posteriores, el envolvimiento y como un medio para descubrir errores o inconsistencias en los datos de los espec&#xED;menes de historia natural.
%h3
  Trabajo interno
%p
  Los nombres de los recolectores e identificadores se analizan y limpian utilizando el m&#xE9;todo de prueba
  %a
    {href: "https://github.com/dshorthouse/dwc_agent"} dwc_agent gema de ruby
  disponible gratis para su integraci&#xF3;n en otros proyectos. La similitud de los nombres de las personas se califica utilizando un m&#xE9;todo de teor&#xED;a de grafos descrito por
  %a
    {href: "https://orcid.org/0000-0002-7101-9767"} R.D.M. Page
  e incorporado como m&#xE9;todo en la gema dwc_agent. Estos puntajes se utilizan para ayudar a expandir la b&#xFA;squeda de espec&#xED;menes candidatos, presentados en orden de mayor a menor probabilidad. Si usted declar&#xF3; nombres alternativos en su cuenta de ORCID, como un apellido de soltera o si se mencionan alias en los perfiles de Wikidata, estos se utilizan para buscar registros de espec&#xED;menes candidatos. El procesamiento de esta gran cantidad de registros de espec&#xED;menes es un proceso intensivo, aunque repetible, que utiliza
  %a
    {href: "https://github.com/bionomia/bionomia"} c&#xF3;digo fuente abierto
  con licencia del MIT.
