-content_for :title do
  Integrations

-content_for :jumbotron do
  %div{class:"jumbotron jumbotron-fluid d-flex flex-wrap"}
    %div{class:"mr-auto p-2"}
      %h1{class:"h2"} Integrations

%h3 Browser Add-ons

%div{class:"row mt-4"}
  %div{class:"col-12 col-md-6 mb-3"}
    %div{class:"card"}
      %div{class:"card-header border-bottom"}
        %h5
          %img{src:"/images/chrome-icon.png", alt:"Chrome"}
          Google Chrome Extension
      %div{class:"card-body mt-3"}
        %p
          %a{href: "https://chrome.google.com/webstore/detail/bionomia-attributor/hggdpifgaginephccebghdenkgpaikgg"}
            Bionomia Google Chrome Extension
          modifies Global Biodiversity Information Facility (GBIF) occurrence pages to include links to ORCID accounts and Wikidata pages.
        %div{class:"text-center"}
          %a{href: "https://chrome.google.com/webstore/detail/bionomia-attributor/hggdpifgaginephccebghdenkgpaikgg"}
            %img{src: "/images/chrome_extension_screenshot.png", alt: "Bionomia Google Chrome Extension"}

  %div{class: "col-12 col-md-6 mb-3"}
    %div{class:"card"}
      %div{class:"card-header border-bottom"}
        %h5
          %img{src:"/images/firefox-icon.png", alt:"Firefox"}
          Firefox Add-on
      %div{class:"card-body mt-3"}
        %p
          %a{href: "https://addons.mozilla.org/en-US/firefox/addon/bionomia-attributor/"}
            Bionomia Firefox Add-on
          modifies Global Biodiversity Information Facility (GBIF) occurrence pages to include links to ORCID accounts and Wikidata pages.
        %div{class:"text-center"}
          %a{href: "https://addons.mozilla.org/en-US/firefox/addon/bionomia-attributor/"}
            %img{src: "/images/chrome_extension_screenshot.png", alt: "Bionomia Firefox Addon"}

%h3 Feeds

%div{class:"ml-3"}
  %h5 New Public Profiles
  %div
    %a{href: "/user.rss"} #{base_url}/user.rss
  %p
    %small{class:"text-muted"}
      RSS feed of new, public profiles.

%div{class:"ml-3"}
  %h5 Latest Comments on Profiles
  %div
    %a{href: "https://#{Settings.disqus.shortname}.disqus.com/latest.rss"} https://#{Settings.disqus.shortname}.disqus.com/latest.rss
  %p
    %small{class:"text-muted"}
      RSS feed of all new comments (aka "Field notes") on profiles, provided by Disqus.

%h3 Wikidata

%p
  Bionomia is a property,
  %a{href:"https://www.wikidata.org/wiki/Property:P6944"} P6944
  on wikidata and many natural historians now have this included as links on their pages. See the wikidata entry for
  %a{href:"https://www.wikidata.org/wiki/Q28030682"} Cynthia Ahearn
  by way of example.
