- content_for :title, I18n.t('oops.not_found_title')
- content_for :scripts do
  :javascript
    $(function() {
      Application.init();
    });

%h1= I18n.t('oops.not_found_title')

%p= I18n.t('oops.not_found')
