-content_for :title, "Política de privacidad"

-content_for :jumbotron do
  %div{class:"jumbotron jumbotron-fluid d-flex flex-wrap"}
    %div{class:"mr-auto p-2"}
      %h1{class:"h2"} Política de privacidad

%h3 Lo que Bionomía colecta

%p
  Bionomía requiere cierta información básica en el momento de la creación de una cuenta y esto está completamente limitado a los detalles de acceso público extraídos de su perfil de
  %a{href:"https://orcid.org"} ORCID
  = succeed "." do
  Ver la
  %a{href:"https://orcid.org/privacy-policy"} Política de privacidad de ORCID
  para más detalles.
  Bionomía almacena su nombre completo, sus afiliaciones laborales y educativas, su biografía y su dirección de correo electrónico sólo si ha permitido que estos detalles sean accesibles públicamente desde su perfil de ORCID.
  Estos detalles se actualizan periódicamente desde su perfil de ORCID y puede activar manualmente una actualización dentro de Bionomía cuando lo desee. Si posteriormente usted restringe el acceso a los detalles que alguna vez estuvieron disponibles en su perfil de ORCID,
  una actualización en Bionomía eliminará esos detalles restringidos.
  Ningún otro dato sobre usted se accede, se utiliza ni se almacena de ninguna otra fuente.

%p
  Si elige archivar versiones de los datos de sus especímenes en
  = succeed ", " do
    %a{href:"https://zenodo.org"} Zenodo
  Bionomía almacena un token de acceso único específico para su cuenta de Zenodo. Este token se utiliza para enviar nuevas versiones de los datos de sus especímenes a su archivo versionado en su nombre. Si desactiva la integración con Zenodo, se elimina el token de acceso.

%h3 Lo que Bionomía no colecta 

%p
  Bionomía no recopila información privada, incluyendo la contraseña de su perfil de ORCID.
  Cualquier información que esté declarada como privada en su perfil de ORCID no es accesible para Bionomía y, en consecuencia, no está disponible para ser almacenada.
  Si usted es menor de 13 años, no es posible que tenga una cuenta en Bionomía incluso si posee una cuenta de ORCID. Bionomía no recopila a sabiendas información, ni dirige su contenido específicamente a niños menores de 13 años.
  Si nos enteramos o tenemos motivos para sospechar que un usuario es menor de 13 años, tendremos que cerrar su cuenta en Bionomía. No queremos disuadirlo de aprender, pero esas son las reglas.
  Por favor vea los
  %a{href: url("/terms-of-service")} Términos del servicio
  para obtener información sobre la cancelación de cuentas.

%h3 Cómo Bionomía utiliza su información

%p
  Los registros de especímenes que atribuya a otras personas, vivas o fallecidas, se compartirán amplia y abiertamente a menos que el usuario vivo al quien los haya atribuido no haya hecho que su perfil sea de acceso público.
  Las atribuciones de acceso público incluirán su nombre obtenido de su perfil de ORCID, su identificador de ORCID y un sello de fecha para indicar cuándo se realizó la atribución, además de los detalles sobre el registro de los especímenes.
  Las atribuciones están disponibles abiertamente a través de las API de RESTful y descargas de datos masivas. No se comparte ninguna otra información de su perfil de ORCID a través de estos productos.

%p
  Si usted hace que su dirección de correo electrónico sea accesible al público a través de su perfil de ORCID, puede suscribirse opcionalmente a las notificaciones por correo electrónico en Bionomía.
  Su dirección de correo electrónico, si se puede acceder a ella a través de su perfil de ORCID, no se utilizará, excepto si elige suscribirse a alertas sobre nuevas publicaciones que utilizaron datos de sus especímenes.

%h3 Contactando a Bionomía

%p
  Las preguntas sobre esta declaración de privacidad o prácticas de información deben dirigirse a
  = succeed "." do
    %a{href: "mailto: bionomia.tracker@gmail.com"} bionomia.tracker@gmail.com
