- content_for :title, "Terms of Service"
- content_for :jumbotron do
%div
  {class:"jumbotron jumbotron-fluid d-flex flex-wrap"}
  %div
    {class:"mr-auto p-2"}
    %h1
      {class:"h2"} T&#xE9;rminos del servicio
%h3
  T&#xE9;rminos de la cuenta
%p
  Tenemos algunas reglas simples para las cuentas de usuario en Bionom&#xED;a.
%ul
  %li
    Usted debe ser un humano para crear una cuenta a trav&#xE9;s del paso de autenticaci&#xF3;n de ORCID. No se permiten cuentas registradas por "bots" u otros m&#xE9;todos automatizados.
  %li
    Una persona no puede mantener m&#xE1;s de una Cuenta libre.
  %li
    Usted debe tener 13 a&#xF1;os o m&#xE1;s. Bionom&#xED;a no dirige su Servicio a ni&#xF1;os menores de 13 a&#xF1;os y no permitimos ning&#xFA;n Usuario menor de 13 a&#xF1;os. Si nos enteramos de alg&#xFA;n Usuario menor de 13 a&#xF1;os, cancelaremos la Cuenta de ese Usuario inmediatamente. Si usted reside en un pa&#xED;s fuera de los Estados Unidos, la edad m&#xED;nima de su pa&#xED;s puede ser mayor; en tal caso, usted es responsable de cumplir con las leyes de su pa&#xED;s.
  %li
    Su inicio de sesi&#xF3;n solo puede ser utilizado por una persona, es decir, un solo inicio de sesi&#xF3;n a trav&#xE9;s de ORCID no puede ser compartido por varias personas.
  %li
    Usted es responsable de toda la actividad que ocurra en su Cuenta.
  %li
    Usted es responsable de mantener la seguridad de su cuenta y contrase&#xF1;a a trav&#xE9;s de ORCID.
  %li
    Usted notificar&#xE1; de inmediato a Bionom&#xED;a al correo electr&#xF3;nico
    %a
      {href: "mailto:bionomia.tracker@gmail.com"} bionomia.tracker@gmail.com
    si se da cuenta de cualquier uso o acceso no autorizado a nuestro Servicio a trav&#xE9;s de su Cuenta, incluido cualquier uso no autorizado de su contrase&#xF1;a o Cuenta.
%h3
  Uso aceptable
%p
  Su uso de Bionom&#xED;a no debe violar ninguna ley aplicable, incluidas las leyes de derechos de autor o marcas registradas, las leyes de control de exportaciones o sanciones, u otras leyes en su jurisdicci&#xF3;n. Usted es responsable de asegurarse de que su uso de Bionom&#xED;a cumpla con las leyes y las regulaciones aplicables.
%h3
  T&#xE9;rminos de la API
%p
  El abuso o las solicitudes excesivamente frecuentes a Bionom&#xED;a a trav&#xE9;s de la API pueden resultar en la suspensi&#xF3;n temporal o permanente de su Cuenta. Bionom&#xED;a, exclusivamente a nuestro criterio, determinar&#xE1; el abuso o uso excesivo de la API.
%h3
  Cancelaci&#xF3;n y Terminaci&#xF3;n
%p
  Es su responsabilidad cancelar correctamente su Cuenta con Bionom&#xED;a. Puede cancelar su cuenta en cualquier momento ingresando a su configuraci&#xF3;n. La pantalla Cuenta proporciona un enlace de cancelaci&#xF3;n simple y sin preguntas. No podemos cancelar cuentas en respuesta a un correo electr&#xF3;nico.
  Tras las cancelaciones, su perfil completo y todas las atribuciones realizadas se eliminan. Esta informaci&#xF3;n no se puede recuperar una vez que se cancela su cuenta.
  Bionom&#xED;a tiene el derecho de suspender o cancelar su acceso a todo o parte del sitio web en cualquier momento, con o sin causa, con o sin aviso, con efecto inmediato.
  Bionom&#xED;a se reserva el derecho de rechazar el servicio a cualquier persona por cualquier motivo y en cualquier momento.
%h3
  Contactando a Bionom&#xED;a
%p
  Las preguntas con respecto a estos T&#xE9;rminos de servicio deben dirigirse a
  = succeed "." do
  %a
    {href: "mailto: bionomia.tracker@gmail.com"} bionomia.tracker@gmail.com
