-content_for :title do
  Terms of Service

-content_for :jumbotron do
  %div{class:"jumbotron jumbotron-fluid d-flex flex-wrap"}
    %div{class:"mr-auto p-2"}
      %h1{class:"h2"} Terms of Service

%h3 Terms of Service
