@font-face {
  font-family:'lovely_homeregular';
  src: url('/font/lovelyhome-9abz-webfont.woff2') format('woff2'),
       url('/font/lovelyhome-9abz-webfont.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
}
header, section, footer, aside, nav, main, article, figure {
  display: block;
}
footer {
  background-color:#f9f9f9;
  min-height:10rem;
}
pre {
  white-space:pre-wrap;
}
button.hide, button.remove, button.hide-all {
  font-size:0.8rem;
  padding:0.25rem 0.35rem;
}
.btn-outline-light:hover{
  color:#212529 !important;
}
a, .page-link{
  color:#1F712C;
}
a:hover, .page-link:hover{
  color:#003309;
}
.col{
  padding-left:10px;
  padding-right:10px;
}
.col-3{
  padding-right:5px;
  padding-left:5px;
}
.alert{
  padding-left:0.75rem;
  padding-right:0.75rem;
}
.alert-warning-light {
    color: #856404;
    background-color: #FFFEF2;
    border-color: #DDE0DD;
}
.alert-info {
  background-color:#D0EAD5;
  border-color:#A4D4AC;
  color:#0B5618;
}
.bg-dark {
  background-color:#012429!important;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.6);
}
#home-jumbotron{
  background-image: url('/images/banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position:relative;
}
#home-jumbotron h1{
  font-weight:350;
  font-family:'lovely_homeregular';
  font-size:7.5rem;
  line-height:1.3;
  margin:0;
  color:#012429;
  text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 2px 2px 0 #fff;
}
#home-jumbotron div.attribution{
  position:absolute;
  right:0px;
  bottom:0px;
  background-color:#fff;
  opacity: 0.9;
}
.tagline {
  font-size:1.75rem;
}
#main{
  padding-top:1rem;
}
.jumbotron{
  margin-bottom:0;
  padding:1rem;
}
.jumbotron .text-muted{
  margin-bottom:0.5rem;
}
.profile-examples {
  margin-bottom:1rem;
}

.alt-name-wrapper{
  margin-top:0.8rem;
}
.alt-name{
  display:block;
}
.connect-orcid-button:hover {
  color: #fff;
  text-decoration:none;
}
.connect-orcid-button a:hover{
  color: #fff;
  text-decoration:none;
}
.page-item.active .page-link{
  background-color:#1F712C;
  border-color:#dee2e6;
}

.table td {
  font-size:0.8rem;
}

table th.selector{
  text-align:center;
}

table th.btn-selector{
  width:80px;
  min-width:80px;
  max-width:80px;
}

table th.btn-selector-wide{
  width:85px;
  min-width:85px;
  max-width:85px;
}

table td.selector{
  text-align:center;
}
.toggle-off.btn-sm {
  padding-left: 17px !important;
}
.toggle-off {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.toggle.off {
  border-color: rgba(0, 0, 0, .25);
}

.toggle-handle {
  background-color: white;
  border: thin rgba(0, 0, 0, .25) solid;
}

.alert-dismissible{
  display:none;
}
.alert{
  margin-top:1rem;
}
.tiny-margins{
  margin-left:0.1em;
  margin-right:0.1em;
}
.medium-margins{
  margin-left:0.25rem;margin-right:0.25rem;
}
.card-hover:hover{
  background-color: rgba(0, 0, 0, 0.075);
}

#admin-tabs .active{
  background-color:transparent;
  border-bottom-color:#fff3cd;
}

#tabs-column .active{
  border-bottom-color:#fff;
}

h4 {
  margin-top:0.5em;
}
h4.list-header {
  padding:0.75rem 0rem;
}
div.list-header{
  padding:0.75rem 0rem;
}
.bulk-label{
  text-align:center;
  font-size:0.75em;
}
.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #1F712C;
}

/* Fix Google Chart cursor flickering */
svg > g > g:not([column-id]):last-child { pointer-events: none }

.twitter {
  background-color:#4099ff;
  color:#fff;
  width:42px;
  height:42px;
  border-radius:100px;
  line-height:20px;
  font-size:23px;
  display:inline-block;
  text-align:center;
}

.twitter:hover {
  color:#fff;
  background-color:#57a5ff;
}

.twitter i {
  font-size:23px;
  line-height:42px;
}

.fa-orcid{
  color:#A6CE39;
}

.progress-border {
  border:1px solid rgba(0,0,0,.125);
}

dl.dl-horizontal {
  display: table;
  min-width: 400px;
}
dl.dl-horizontal dt, dl.dl-horizontal dd {
  overflow: visible;
}

dl.dl-horizontal dt {
  display: table-cell;
  text-align: right;
  white-space: nowrap;
  font-weight: 700;
  width:135px;
}
dl.dl-horizontal dd {
  display: table-cell;
  padding: 2% 5%;
  width: 100%;
}
dl.dl-horizontal dd.line-break {
  display: table-row;
  margin:0px;
  padding:0px;
}

/* BUTTON OVERLAY */
.badge-item {
    position:relative;
    display:inline-block;
}
.badge-notify {
    display:none;
    position: absolute;
    right:-5px;
    top:-5px;
    z-index: 1;
}

/* CARDS */
.border-none {
  border: 0px;
}
.card-header {
  background-color: transparent;
  border-bottom:0px;
}
.card-header h5 {
  margin-bottom:0px;
}
.card-body {
  padding:0rem 1.25rem 0.8rem;
}
.card-text {
  margin-top:5px;
}
.card-img-profile {
  border-radius:50%;
  margin-right:0.5rem;
}
.card-footer{
  background-color:transparent;
  border-top:0px;
  padding-top:0px;
}
.occurrence .card { -ms-flex: 0 0 96%; flex: 0 0 96%;}
@media(min-width: 1200px) {
  .occurrence .card { -ms-flex: 0 0 47.7%; flex: 0 0 47.7%; }
}

.card-profile:hover {
  background-color:#f8f9fa;
  cursor:pointer;
  border: 1px solid rgba(0,0,0,.175);
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

/* CALLOUTS */
.bd-callout {
  padding: 0.75rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-left-width: .25rem;
  border-radius: .25rem;
}

.bd-callout p:last-child {
  margin-bottom: 0;
}

.bd-callout code {
  border-radius: .25rem;
}

.bd-callout+.bd-callout {
  margin-top: -.25rem;
}

.bd-callout-info {
  border-left-color: #5bc0de;
}

.bd-callout-warning {
  border-left-color: #f0ad4e;
}

.bd-callout-success {
  border-left-color: #28a745;
}

.bd-callout-danger {
  border-left-color: #d9534f;
}

.bd-callout-bionomia {
  border-left-color: #1F712C;
}

.relaxed{margin-bottom:0px;}
.button-login{display:none;}
.citation-wrapper .card {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
p.citation{
  text-indent: -2em;
  padding-left: 2em;
}
dl.citation{
  padding-left: 2em;
}
.citation-correction{
  text-indent: 0em;
}
.alert ul {
  margin-bottom:0rem;
}

.form-group{
  margin-bottom:1rem;
}

/* PROFILE IMAGE */
#profile-image span {
  display:block;
  position:absolute;
  bottom:0px;
  width: 200px;
  margin-left:-100px;
  left:50%;
  background-color:#fff;
}
#profile-upload-option span {
  display:block;
  color:inherit;
  background-color:transparent;
  position:relative;
}
#profile-image {
  text-align:center;
  position:relative;
  height:200px;
  margin-bottom:1rem;
}
#profile-image input {
  opacity:0;
  position:absolute;
  top:0;right:0;left:0;
  width:300px;
  cursor:pointer;
  height:100%;
  width:100%;
  z-index:10;
}
.image-placeholder {
  background-color:transparent;
  text-align:center;
  position:relative;
}
.profile-image-bg {
  height:150px !important;
}

.profile-image-bg span {
  color:#fff;
  width:300px;
  background-color:transparent !important;
  margin-bottom:0px;
  position:relative !important;
}
.profile-image-bg span a {
  color:#6c757d;
}
#profile-upload-option {
  position:absolute;
  bottom:0;left:0;right:0;
  display:none;
  padding-left:25%;
  padding-right:25%;
  z-index:1;
}
.profile-upload-option-list {
  cursor:pointer;
  background-color:#D9D9D9;
  position:relative;
}

#network-nav a.nav-link, #specimen-nav a.nav-link, #helped-nav a.nav-link {
  color:#1F712C;
}

#network-nav a.active, #specimen-nav a.active, #helped-nav a.active {
  color:#495057;
}

.pagination {
  margin-top:0.75rem;
}

#helper-navbar {
  border-bottom: 3px solid #E0E0E0;
}

#helperPublicModal .modal-content {
  color:#212529;
  background-color:#fff;
}

.truncate {
  display:none;
}

.truncate a {
  font-size: 0.85rem;
}

/* pre code display */
.token.property, .token.symbol {
  color: #f8c555;
}
.token.regex, .token.string, .token.variable {
  color: #7ec699;
}
.token.number {
  color: #f08d49;
}

@media (max-width: 450px) {
  #home-jumbotron h1 {
    font-size:4.5rem;
  }
  .attribution {
    font-size:0.8rem;
  }
  .attribution img {
    width:1.2rem;
  }

  .display-2 {
    font-size:3.5rem;
  }
  .container-fluid {
    padding:5px !important;
  }
}

@media(max-width: 767px) {
  .form-inline .form-group {
    margin-bottom:0.25rem;
  }
  .button-login{display:inline-block;}
}

/*
 * Responsive text aligning
 * http://ohryan.ca/2014/08/14/set-responsive-text-alignment-bootstrap-3/
 */
.text-xs-left { text-align: left; }
.text-xs-right { text-align: right; }
.text-xs-center { text-align: center; }
.text-xs-justify { text-align: justify; }

@media (min-width: @screen-sm-min) {
  .text-sm-left { text-align: left; }
  .text-sm-right { text-align: right; }
  .text-sm-center { text-align: center; }
  .text-sm-justify { text-align: justify; }
}

@media (min-width: @screen-md-min) {
  .text-md-left { text-align: left; }
  .text-md-right { text-align: right; }
  .text-md-center { text-align: center; }
  .text-md-justify { text-align: justify; }
}

@media (min-width: @screen-lg-min) {
  .text-lg-left { text-align: left; }
  .text-lg-right { text-align: right; }
  .text-lg-center { text-align: center; }
  .text-lg-justify { text-align: justify; }
}

@media (min-width: @screen-xl-min) {
  .sidebar { max-width: 350px; }
}
