.twitter-typeahead {
  line-height:1em;
  width:80%;
}

.typeahead, .orcid-add,
.organization-search,
.tt-query,
.tt-hint {
  width: 100%;
  height: 1rem;
  padding: 1rem;
  font-size: 1rem;
  line-height: 1rem;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #40924F;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 100%;
  margin: 5px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  z-index:10000 !important;
}

.tt-suggestion, .tt-no-result {
  padding: 3px 10px;
  font-size: 1rem;
  line-height: 1.1rem;
  color:#495057;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #40924F;
}

.tt-suggestion:hover img {
  background-color: #fff;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #40924F;
}

.tt-suggestion.tt-cursor img {
  background-color: #fff;
}

.tt-suggestion p {
  margin: 0;
}

.tt-menu-header {
  margin: 0 10px 5px 10px;
  padding: 3px 0;
  border-bottom: 1px solid #a8a7a5;
  font-size:1em;
}

.title-col{
  margin-left:0px;
  padding-left:0px;
}
.btn-choice{
  padding:0.2rem 0.5rem;
}

.btn-light{
  color:#1F712C;
  background-color:#fff;
  border: 1px solid #dee2e6;
  border-radius:0px !important;
  font-size:1rem !important;
}
.btn-claim{
  margin:0.25rem;
}
.dropdown-menu{
  border-radius:0px !important;
  font-size:1rem !important;
}
.candidates-alert .col-12{
  margin-top:0.2rem;
}
.search-agent, .search-organization, .search-taxon {
  width:100%;
}
.search-agent label, .search-organization label, .search-taxon label {
  margin-right:0.2rem;
  margin-bottom:0rem;
}
.helpers {
  margin-top:0.5rem;
}
.helpers input[type="text"]{
  height:1.5em;
  font-size: 1.7em;
  line-height: 1.2em;
}
.helpers .tt-suggestion{
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-align:left;
}
.helpers .twitter-typeahead{
  width:70%;
  line-height: 1.5em;
}
.orcid-add, .dataset-search, .organization-search, .help-search, .article-search {
  width:100%;
  margin-right:0.25rem;
  background-color: #fff;
}

.orcid-add:focus, .dataset-search:focus, .organization-search:focus, .help-search:focus, .article-search:focus, .taxon-search:focus {
  border: 2px solid #40924F;
}
#profile-buttons input, #profile-buttons a{
  margin:0.25rem 0;
}
.orcid{
  margin:0.5rem 0rem;
}
dl.col{
  margin-bottom:0;
}
#form-orcid{
  margin-top: 0.5rem;
}
#form-org-wrapper .twitter-typeahead, #form-user-wrapper .twitter-typeahead, #form-helper-wrapper .twitter-typeahead, #form-taxon-wrapper .twitter-typeahead {
  width:100%;
}
