.p-2
  %form#form-org-wrapper.form-inline.helpers{method: :get, action: "/organizations/search", "accept-charset": "UTF-8"}
    .form-group.w-75
      %input#typeahead-organization.typeahead.organization-search{type: :text, name: "q", placeholder: "#{I18n.t('organization.placeholder')}", value: "#{h(params[:q])}", size:"25", autocomplete:"off"}
    %input.btn.btn-success.medium-margins{type: :submit, value:"#{I18n.t('general.search')}"}
