%div{class:"jumbotron jumbotron-fluid"}
  %div{class:"container-fluid"}
    %h1{class:"text-center h2 font-italic"}= @agent.fullname
    %p{class: "lead text-muted text-center"}= I18n.t('agent.agent_lede')
