- content_for :title, "Historia"
- content_for :jumbotron do
  .jumbotron.jumbotron-fluid.d-flex.flex-wrap
    .mr-auto.p-2
      %h1.h2
        Historia

.row.mt-4
  .col-12.col-xl-6.mb-3
    .card
      .card-header.border-bottom
        %h4
          Un cambio de marca
      .card-body.mt-3
        %p Junio 15, 2020
        %p Amigos,
        %p
          Debo cambiar el nombre de Bloodhound Tracker incluyendo un nuevo nombre de dominio. Me encontré con un documento en junio de 2020 y les pido que se tomen una hora o más para leerlo:
        %p
          Parry, T.D., and C.W. Yingling. 2020. Slave Hounds and Abolition in the Americas.
          %em Past & Present
          246: 69–108.
          = link_to "https://doi.org/10.1093/pastj/gtz020", "https://doi.org/10.1093/pastj/gtz020"
        %p.clearfix
          %img.float-left.mr-3{src:"/images/bloodhound_logo.png", alt:"Bloodhound Tracker"}
          Estoy horrorizado por los eventos en ese artículo y me avergüenzo de mi ingenuidad. Bloodhound como marca y su logo son imperdonables. Los museos de historia natural del mundo han
          = link_to "reconocido su papel", "https://www.nhm.ac.uk/discover/news/2019/july/are-natural-history-museums-inherently-racist.html"
          en el colonialismo y la trata transatlántica de esclavos. Rechazo cualquier encubrimiento de este pasado. Todas las personas negras, indígenas y de color deben sentirse cómodas y empoderadas para estar aquí, participar, aprender y liderar.
        %p
          Todos los enlaces de Bloodhound Tracker redirigen a Bionomia. El 1 de diciembre de 2020, el sitio Bloodhound Tracker se eliminará por completo, lo que debería proporcionar tiempo suficiente para que los índices de búsqueda y los sitios actualicen los enlaces y utilicen el nuevo logo.
        %p
          David P. Shorthouse
