%h3
  Abgleichen

.media.mb-3.mt-3.d-flex.flex-wrap.flex-column.flex-md-row
  %a{href:"https://openrefine.org/"}
    %img.mb-3.mr-3{src:"/images/openrefine-logo.png", alt:"OpenRefine-Logo"}
  .media-body
    Abgleichungsendpunkt von
    = link_to "OpenRefine", "https://openrefine.org/"
    %br
    %span.font-weight-bold
      https://api.bionomia.net/reconcile

    %h5.mt-3
      Empfohlene Verwendung
    %p
      Der Endpunkt funktioniert am besten, wenn in einer Personenspalte nur ein Name steht.
      Andere Spalten – wie Familie gesammelt oder identifiziert und/oder Datum gesammelt oder identifiziert – können optional verwendet werden, um die Wertung der zurückgegebenen Ergebnisse anzupassen.
      Geburts- und Sterbedaten (sofern bekannt) werden mit der von Ihnen verwendeten Datumsspalte abgeglichen.
      Probieren Sie gerne den Bionomia-ID-Endpunkt unter anderem auf der
      = link_to "Prüfstandseite des Abgleichungsdienstes", "https://reconciliation-api.github.io/testbench/"
      aus.
