-content_for :title do
  For Developers: Raw Data

-content_for :jumbotron do
  %div{class:"jumbotron jumbotron-fluid d-flex flex-wrap"}
    %div{class:"mr-auto p-2"}
      %h1{class:"h2"} For Developers

= haml :'partials/developers/tabs', layout:false, locals: { active_tab: locals[:active_tab] }

%h3{class:"mt-4 mb-3"} Raw Data

%div{class:"ml-3"}
  %h5 List of Public Profiles
  %div
    %a{href: "/data/bionomia-public-profiles.csv"} bionomia-public-profiles.csv
  %p
    %smal{class:"text-muted"}
      Where the above csv includes a header, "Family, Given, wikidata, ORCID, URL"

- if @compressed_file_size
  %div{class:"ml-3"}
    %h5 All Claims and Attributions (Public Profiles)
    %div
      Daily build,
      %a{href: "/data/bionomia-public-claims.csv.gz"} bionomia-public-claims.csv.gz
      (#{@compressed_file_size} MB, utf-8)
    %p
      %small{class:"text-muted"}
        Where the above gzipped csv includes a header, "Subject, Predicate, Object" and rows are expressed as, "https://gbif.org/occurrence/1801358422, http://rs.tdwg.org/dwc/iri/identifiedBy, https://orcid.org/0000-0001-9008-0611"

%div{class:"ml-3"}
  %h5 Agent Summaries
  %div
    %a{href:"https://github.com/bionomia/bionomia/blob/5947072a42ace5c8aa686f688144541a416fe830/data/bionomia-agent-counts.gz?raw=true"} bionomia-agents-counts.gz
    (38 MB, utf-8)
  %p
    %small{class:"text-muted"}
      The above gzipped folder includes 4 csv files each with a header, "agent_id, family, given, recordings_count, recordings_year_range, recordings_institutionCode, recordings_countryCode, determinations_count", produced using
      %a{href:"https://doi.org/10.15468/dl.ejwnnv"} https://doi.org/10.15468/dl.ejwnnv
      where "recordings_count" is the total number of collected specimens, "recordings_institutionCode" is a pipe-delimited list of institutionCode entries, and "recordings_countryCode" is a pipe-delimited list of ISO Alpha-2 country codes. The column "agent_id" is a local identifier and is not persistent.

%div{class:"ml-3"}
  %h5 Unverified, Unauthenticated Agents
  %div
    %a{href: "https://github.com/bionomia/bionomia/blob/d6605b8b3771a42bc62e613fc6622af0bd5cb278/public/data/bionomia-agents.gz?raw=true"} bionomia-agents.gz
    (474 MB, utf-8)
  %p
    %small{class:"text-muted"}
      The above gzipped csv includes a header, "agents, gbifIDs_recordedBy, gbifIDs_identifiedBy", was constructed from
      %a{href: "https://doi.org/10.15468/dl.rohj3n"} https://doi.org/10.15468/dl.rohj3n
      using a
      %a{href: "https://github.com/bionomia/bionomia/blob/master/spark.md"} Scala / Apache Spark script
      where the gbifIDs_recordedBy and gbifIDs_identifiedBy columns each contain an array of GBIF IDs. The "agents" column is as presented on GBIF and will require additional parsing.
