%div{class:"p-2"}
  %form{id:"form-taxon-wrapper", method: "get", action: "/country/#{@country.alpha2}?action=#{@action}", "accept-charset" => "UTF-8", class: "form-inline helpers"}
    %div{class: "form-group w-75"}
      %input{type: :text, class:"typeahead search-taxon", id:"typeahead-taxon", name: "q", placeholder: "Taxon Family", value: "#{h(params[:q])}", size:"10"}
      %div{class: "form-group form-check"}
        - checked = (@action == "collected") ? "checked" : nil
        %input{type: :radio, class:"form-check-input mt-2", id:"taxon-collected", name: "action", value: "collected", checked: checked}
        %label{class:"form-check-label mt-2", for:"taxon-collected"} collected

        - checked = (@action == "identified") ? "checked" : nil
        %input{type: :radio, class:"form-check-input mt-2 ml-3", id:"taxon-identified", name: "action", value: "identified", checked: checked}
        %label{class:"form-check-label mt-2", for:"taxon-identified"} identified

        - checked = @action.nil? ? "checked" : nil
        %input{type: :radio, class:"form-check-input mt-2 ml-3", id:"taxon-either", name: "action", value: "", checked: checked}
        %label{class:"form-check-label mt-2", for:"taxon-either"} either

    %input{type: :submit, class:"btn btn-success medium-margins align-self-start", value:"#{I18n.t('general.search')}"}
