adapter: mysql2
host: MYSQL_HOST
username: MYSQL_USERNAME
password: MYSQL_PASSWORD
database: MYSQL_DATABASE
reconnect: true
pool: 40
timeout: 5000
helping_download_limit: 10000
base_url: 'https://bionomia.local'
api_url: 'https://api.bionomia.local'
redis_url: 'redis://192.168.2.4:6379/0'
cookie_domain: '.bionomia.local'
offline_warning:
  off_datetime:
  off_duration:
  online_when:
google:
  analytics: ''
  api_key: ''
orcid:
  api_url: 'https://pub.orcid.org/v3.0/'
  key: ''
  secret: ''
  site: 'https://orcid.org'
  authorize_url: 'https://orcid.org/oauth/authorize'
  token_url: 'https://pub.orcid.org/oauth/token'
  keywords: ['taxonomy','taxonomist','entomology','zoology','botany']
zenodo:
  sandbox: true
  api_url: 'https://sandbox.zenodo.org/api/'
  key: ''
  secret: ''
  access_token: ''
  site: 'https://sandbox.zenodo.org'
  authorize_url: 'https://sandbox.zenodo.org/oauth/authorize'
  token_url: 'https://sandbox.zenodo.org/oauth/token'
elastic:
  server: 'http://localhost:9200'
  agent_index: 'bionomia_agents'
  user_index: 'bionomia_users'
  organization_index: 'bionomia_organizations'
  dataset_index: 'bionomia_datasets'
  article_index: 'bionomia_articles'
  taxon_index: 'bionomia_taxa'
gmail:
  domain: ''
  email: '____@gmail.com'
  username: ''
  password: ''
gbif:
  download_count: '99M'
  download_doi: '10.15468/00000'
  api: 'https://api.gbif.org/v1/'
