- content_for :title, "Downloads"
- content_for :scripts do
  :javascript
    $(function() {
      Application.init();
    });
- content_for :jumbotron do
  .jumbotron.jumbotron-fluid.d-flex.flex-wrap
    .mr-auto.p-2
      %h1.h2
        Downloads

%h3 List of Public Profiles
%div
  = link_to "bionomia-public-profiles.csv", url("/data/bionomia-public-profiles.csv")
%p
  %small.text-muted
    Includes a header, "Family, Given, Particle, OtherNames, Country, Keywords, wikidata, ORCID, URL"

- if @compressed_file_size
  %h3 Attributions Made to Public Profiles
  %div
    = link_to "bionomia-public-claims.csv.gz", url("/data/bionomia-public-claims.csv.gz")
    (#{@compressed_file_size}MB, updated #{@modified_time})
  %p
    %small.text-muted
      Includes a header, "Subject, Predicate, Object" and each row resembles:
      %br
      https://gbif.org/occurrence/1801358422, http://rs.tdwg.org/dwc/iri/identifiedBy, https://orcid.org/0000-0001-9008-0611
