%h3 Réconcilier

%div{class:"media mb-3 mt-3 d-flex flex-wrap flex-column flex-md-row"}
  %a{href:"https://openrefine.org/"}
    %img{class:"mb-3 mr-3", src:"/images/openrefine-logo.png", alt:"OpenRefine logo"}
  %div{class:"media-body"}
    %a{href:"https://openrefine.org/"} OpenRefine
    reconciliation endpoint:
    %br
    %span{class:"font-weight-bold"}
      https://api.bionomia.net/reconcile

    %h5{class:"mt-3"} Utilisation recommandée
    %p
      The endpoint works best when there is a single name in a person column.
      Other columns such as Family collected or identified and/or date collected or identified may be optionally used to help adjust the score of returned results.
      Dates of birth and death (when known) are cross-referenced against the date column you use.
      Try out the Bionomia ID endpoint among others on the
      = succeed "." do
        %a{href: "https://reconciliation-api.github.io/testbench/"} Reconciliation service test bench
