%nav#helped-nav.navbar.navbar-light.navbar-expand.overflow-auto.alert-warning
  %ul.navbar-nav
    %li.nav-item
      %a{class:"text-nowrap nav-link#{locals[:active_tab] == "helped" ? " active" : nil}", href: url("/admin/user/#{@admin_user.identifier}/helped")}= I18n.t('profile.helped')
    %li.nav-item
      %a{class:"text-nowrap nav-link#{locals[:active_tab] == "messages" ? " active" : nil}", href: url("/admin/user/#{@admin_user.identifier}/messages")}= I18n.t('profile.thanks_received')
