%div
  %form#form-org-wrapper.form-inline.helpers{method: :get, action: "/admin/taxa", "accept-charset": "UTF-8"}
    .form-group.w-75
      %input#typeahead-taxon.typeahead.taxon-search{type: :text, name: "q", placeholder: "#{I18n.t('taxa.taxon_string')}", value: "#{h(params[:q] || params[:taxon])}", size:"25", autocomplete:"off"}
    %input.btn.btn-success.medium-margins{type: :submit, value:"#{I18n.t('general.search')}"}
