%div
  %form#form-org-wrapper.form-inline.helpers{method: :get, action: "/admin/users/search", "accept-charset": "UTF-8"}
    .form-group.w-75
      %input#typeahead-user.typeahead.user-search{type: :text, name: "q", placeholder: "Mary Smith", value: "#{params[:q]}", size:"25", autocomplete:"off"}
    %input.btn.btn-success.medium-margins{type: :submit, value:"#{I18n.t('general.search')}"}

%script#result-template{type:"text/x-handlebars-template"}
  .d-flex
    %div
      %img{class:"rounded", src:"{{thumbnail}}"}
    .ml-2.flex-grow-1.small
      %h5.m-0.p-0 {{fullname_reverse}}
      .m-0.p-0.small.muted {{{lifespan}}}

%script#empty-template{type:"text/x-handlebars-template"}
  .m-2.tt-no-result= I18n.t('general.search_dropdown_no_users')
